@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{font-family: 'Poppins', sans-serif;}
h1{
    text-align: center;
}
.calculator{
    width: 300px;
    height: 360px;
    margin: auto;
    background-color:coral;
    padding: 25px;
    border-radius: 10px;
}
#x{
    border-radius: 9px;
    border-color: coral;
}
#y{
    border-radius: 9px;
    border-color: coral;
}
#result{
    border-radius: 9px;
    border-color: coral;
}
.button-operator{
    background-color: rgb(255, 255, 255);
    width: 35px; 
    border-radius: 2.5px;
    border-color: coral;
}
.button-operator:hover{
    border-color: greenyellow;
}